<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">marca</th>
      <th scope="col">linea</th>
      <th scope="col">referencia</th>
      <th scope="col">modelo</th>
      <th scope="col">kilometraje</th>
      <th scope="col">color</th>
      <th scope="col">imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <th scope="row">1</th>
      <td>{{vehicle.id}}</td>
      <td>{{vehicle.marca}}</td>
      <td>{{vehicle.linea}}</td>
      <td>{{vehicle.referencia}}</td>
      <td>{{vehicle.modelo}}</td>
      <td>{{vehicle.kilometraje}}</td>
      <td>{{vehicle.color}}</td>
      <td>{{vehicle.imagen}}</td>
    </tr>
  </tbody>
</table>
